@font-face {
    font-family: 'OrkneyRegular';
    src: url('../fonts/orkney/Orkney Regular.ttf');
}

html {
    height: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
}

.container {
    max-width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'OrkneyRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 0.85em;
}

.margin {
    padding: 15px 0px;
    height: auto;
    margin-bottom: 25px;
}

.margin-r-buy {
    margin-left: 1.5rem;
    margin-bottom: 25px;
}
.menu-bot-r{
    position: absolute;
    bottom: -25px;
    z-index: 1;
}

.foto-perfil{
    height: 300px;
}
.cover {
    height: 300px;
    max-height: 500px;
    width: 100%;
}

.bg-green {
    background-image: url('../img/banner/campo2.jpg');
    /*background-size: cover;*/
}

._align-middle {
    padding: 70px 0px 0px 0px;
}

.cover img {
    width: 100%;
}

.titutlo-cover1 {
    font-size: 3.5em;
    color: #ffffff;
}
.empty-card{
    height: 500px;
    min-height: 0px !important;
    vertical-align: middle;
}
.overlap {
    margin-top: -150px;
}

.wrapper {
    background-image: url('../img/banner/compra.jpg');
    background-size: cover;
    width: 300px;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.cut {
    background: #01a2ac;
    position: absolute;
    top: 300px;
    left: -50px;
    width: 500px;
    height: 300px;
    transform-origin: center top;
    transform: rotate(8deg);
}

footer {
    background-color: #0d7ddf;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer span {
    color: #ffffff;
}

footer ul {
    list-style: none;
}

footer li {
    color: #ffffff;
    font-size: 0.9em;
}

.autoaline {
    margin: auto;
}


.tag-descuento {
    position: absolute;
    top: 12%;
    background: #eee037;
    width: 45px;
    left: -9px;
    text-align: center;
}

.tag-nuevo {
    position: absolute;
    top: 23%;
    background: #01a2ac;
    width: 70px;
    left: -9px;
    text-align: center;
}

.tag {
    position: absolute;
    top: 12%;
    background: #01a2ac;
    width: 70px;
    left: -9px;
    text-align: center;
}

.filters {
    width: 90%;
    margin-top: 80px;
    background-color: #ebebeb;
    height: auto;
    padding: 7%;
    max-height: 850px;
}

.login {
    border: 1px solid #ebebeb;
    box-shadow: 0px 2px 2px 0px #cccccc;
    background-color: white;
    padding: 1.5%;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.menu-left {
    height: 100vh;
    max-width: 250px;
}

.shadow {
    box-shadow: 0px 0px 2px 5px #606060;
}

.img-article {
    min-height: 200px;
}

.logo {
    max-width: 150px;
    max-height: 80px;
}

.img-big-wrap {
    height: 450px;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

.img-big-wrap:before,
.frame_before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img-big-wrap img {
    vertical-align: middle;
    width: 100%;
    max-height: 450px;
}

.title-profile-article {
}

.title-profile-price {
    background: rgba(204, 204, 204, 0.5);
    position: absolute;
    bottom: 15px;
    width: 85%;
    text-align: center;
    color: black;
}

.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}

.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

.banner {
    min-height: 80px;
    max-height: 120px;
    min-width: 100%;
    background-image: url('../img/banner/campo2.jpg');
    margin-bottom: 50px;
}

.user-profile {
    height: 125px;
    width: 135px;
    max-height: 125px;
    max-width: 135px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.myfont-10 {
    font-size: 0.8em;
}

.myfont-11 {
    font-size: 0.9em;
}

.myfont-12 {
    font-size: 1em;
}

.myfont-13 {
    font-size: 1.1em;
}

.myfont-14 {
    font-size: 1.2em;
}

.pagination li:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.pagination > li > a, .pagination > .disabled {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination > .active {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.shoppinglist_table {
    /*border-bottom: 1px solid #ccc;*/
    background-color: #ffffff;
    /*box-shadow: 0px 2px 5px 0px #ccc;*/
    height: 100px;
    width: 100%;
}

.tr-shoppinglist {
    height: 100px;
    border-bottom: 1px solid #ebebeb;
}

.btn-shoppinglist {
    background: transparent;
    border: 1px solid #ebebeb;
    color: blue;
    font-size: 12px;
}

.btn-bottom{
    position: absolute;
    bottom: 0;
}

.btn-shoppinglist:focus {
    color: blue;
    background-color: #fff;
    border-color: 1px solid #ebebeb;
    outline: 0;
    box-shadow: none;
}

.input-shoppinglist {
    border: 1px solid #ebebeb;
    text-align: center;
}

.input-shoppinglist:focus {
    high end quality
    color: #495057;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.counter-shoppinglist {
    border: 0.5px solid #ebebeb;
    width: 30% !important;
}

.available-shoppinglist {
    color: gray;
    font-size: 12px;
    text-align: center;
}

.busqueda {
    min-height: 800px;
}

/*Imagenes*/

.personal-card {
    width: 33.33%;
    max-width: 33.33%;
    min-width: 33.33%;
}

.noimage {
    max-width: 250px;
}

.nofound {
    background-color: #f8f9fa;
    box-shadow: 0px 3px 3px 0px #cccccc;
}

/* DEMO 3 */

.wrapper-dropdown-3:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.jumbotron {
    padding: 1rem 2rem;
}

/*Shoppinglist table*/

.table-image {
    width: 16.666667%;
}

.table-text {
    width: 53.3333%;
}

.table-summin {
    width: 10%;
}

.table-total {
    width: 30%;
}

.border-bottom-table {
    border-top: 1px solid #ebebeb;
}

/*Card Images*/
.card{
    height:300px;
    max-height: 450px;
    border: 1px solid #ebebeb;
    border-radius: 1px;
    box-shadow: 0px 3px 3px 0px #cccccc;
    margin: 0px 5%;
}


.card-img-top {
    height: 75%;
    white-space: nowrap;
    text-align: center;
    margin: 1em -2px;
    overflow: hidden;
}

.card-body{
    height: 25%!important;
    overflow: hidden;
    background: #ebebeb;
    text-align: center;
}

.card2 {
    height: 450px;
    max-height: 450px;
    border: 1px solid #ebebeb;
    border-radius: 1px;
    box-shadow: 0px 3px 3px 0px #cccccc;
    margin: 0px 5%;
    overflow: hidden;
}
.card-img-top2 {
    height: 75%;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img-top img, .card-img-top2 img, .img-card img {
    width: 100%;
    vertical-align: middle;
}

.card-img-top .no-image, .card-img-top2 .no-image, .img-card .no-image {
    width: 50%;
}

.card-img-top .helper, .card-img-top2 .helper, .img-card .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img-card {
    border: 2px solid #f6f6f6;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    min-height: 160px;
    max-height: 160px;
    height: 160px;
    overflow: hidden;
}

.text-card {
    background: rgba(204, 204, 204, 0.5);
    bottom: -10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
    text-align: center;
    color: black;
}

.card-body-accordiong {
    background: #ffffff;
    text-align: left;
}

.card-accordion {
    max-height: auto;
    border: 3px solid #ebebeb;
    border-radius: 0px;
    margin: 0px 5%;
}

/*Muri grid*/
.grid {
    position: relative;
}
.item {
    display: block;
    position: absolute;
    width: 24%;
    height: auto;
    margin: 5px;
    z-index: 1;
    /*background: #ebebeb;*/
    /*box-shadow: 0px 5px 5px 0px #ccc;*/
    color: #000;
}

.board {
    position: relative;
    margin-left: 1%;
}
.board-column {
    position: absolute;
    left: 0;
    right: 0;
    width: 30%;
    margin: 0 1.5%;
    background: #f0f0f0;
    border-radius: 3px;
    z-index: 1;
}
.board-column.muuri-item-releasing {
    z-index: 2;
}
.board-column.muuri-item-dragging {
    z-index: 3;
    cursor: move;
}
.board-column-header {
    position: relative;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: 3px 3px 0 0;
}
@media (max-width: 600px) {
    .board-column-header {
        text-indent: -1000px;
    }
}
.board-column.todo .board-column-header {
    background: #4A9FF9;
}
.board-column.working .board-column-header {
    background: #f9944a;
}
.board-column.done .board-column-header {
    background: #2ac06d;
    width: 100% !important;
}
.board-column-content {
    position: relative;
    border: 10px solid transparent;
    min-height: 95px;
}
.board-item {
    position: absolute;
    width: 100%;
    margin: 5px 1%;
}
.board-item.muuri-item-releasing {
    z-index: 9998;
}
.board-item.muuri-item-dragging {
    z-index: 9999;
    cursor: move;
}
.board-item.muuri-item-hidden {
    z-index: 0;
}
.board-item-content {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}
@media (max-width: 600px) {
    .board-item-content {
        text-align: center;
    }
    .board-item-content span {
        display: none;
    }
}