@font-face {
    font-family: 'OrkneyRegular';
    src: url('../fonts/orkney/Orkney Regular.ttf');
}
@font-face {
    font-family: 'Digital7';
    src: url('../fonts/digital-7/digital-7.ttf');
}

html {
    height: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
}

.container {
    max-width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'OrkneyRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.25em;
}
.counter {
    font-family: 'Digital7' !important;
    font-size: 3rem;
    color: #ffffff;
    background-color: #000000;
    border-radius: 4px;
    padding: 4px;
    width: 120px;
    text-align: center;
}

/*Imagenes*/

.personal-card {
    width: 33.33%;
    max-width: 33.33%;
    min-width: 33.33%;
}

.noimage {
    max-width: 250px;
}

.nofound {
    background-color: #f8f9fa;
    box-shadow: 0px 3px 3px 0px #cccccc;
}

/* DEMO 3 */

.wrapper-dropdown-3:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.jumbotron {
    padding: 1rem 2rem;
}

/*Shoppinglist table*/

.table-image {
    width: 16.666667%;
}

.table-text {
    width: 53.3333%;
}

.table-summin {
    width: 10%;
}

.table-total {
    width: 30%;
}

.border-bottom-table {
    border-top: 1px solid #ebebeb;
}

/*Card Images*/
.card{
    height:300px;
    max-height: 450px;
    border: 1px solid #ebebeb;
    border-radius: 1px;
    box-shadow: 0px 3px 3px 0px #cccccc;
    margin: 0px 5%;
}


.card-img-top {
    height: 300px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    margin: 1em -2px;
    overflow: hidden;
}

.card-body{
    height: 25%!important;
    overflow: hidden;
    background: #ebebeb;
    text-align: center;
}

.card2 {
    height: 450px;
    max-height: 450px;
    border: 1px solid #ebebeb;
    border-radius: 1px;
    box-shadow: 0px 3px 3px 0px #cccccc;
    margin: 0px 5%;
    overflow: hidden;
}
.card-img-top2 {
    height: 75%;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img-top img, .card-img-top2 img, .img-card img {
    height: 100%;
    vertical-align: middle;
}

.card-img-top .no-image, .card-img-top2 .no-image, .img-card .no-image {
    width: 50%;
}

.card-img-top .helper, .card-img-top2 .helper, .img-card .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img-card {
    border: 2px solid #f6f6f6;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    min-height: 160px;
    max-height: 160px;
    height: 160px;
    overflow: hidden;
}

.text-card {
    background: rgba(204, 204, 204, 0.5);
    bottom: -10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
    text-align: center;
    color: black;
}

.card-body-accordiong {
    background: #ffffff;
    text-align: left;
}

.card-accordion {
    max-height: auto;
    border: 3px solid #ebebeb;
    border-radius: 0px;
    margin: 0px 5%;
}

/*Muri grid*/
.grid {
    position: relative;
}
.item {
    display: block;
    position: absolute;
    width: 24%;
    height: auto;
    margin: 5px;
    z-index: 1;
    /*background: #ebebeb;*/
    /*box-shadow: 0px 5px 5px 0px #ccc;*/
    color: #000;
}

.board {
    position: relative;
    margin-left: 1%;
}
.board-column {
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
    background: #f0f0f0;
    border-radius: 3px;
    z-index: 1;
}
.board-column.muuri-item-releasing {
    z-index: 2;
}
.board-column.muuri-item-dragging {
    z-index: 3;
    cursor: move;
}
.board-column-header {
    position: relative;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: 3px 3px 0 0;
}
@media (max-width: 600px) {
    .board-column-header {
        text-indent: -1000px;
    }
}
.board-column.todo .board-column-header {
    background: #4A9FF9;
}
.board-column.working .board-column-header {
    background: #f9944a;
}
.board-column.done .board-column-header {
    background: #2ac06d;
    width: 100% !important;
}
.board-column-content {
    position: relative;
    border: 10px solid transparent;
    min-height: 95px;
}
.board-item {
    position: absolute;
    width: 47%;
    margin: 5px 1%;
}
.board-item.muuri-item-releasing {
    z-index: 9998;
}
.board-item.muuri-item-dragging {
    z-index: 9999;
    cursor: move;
}
.board-item.muuri-item-hidden {
    z-index: 0;
}
.board-item-content {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}
@media (max-width: 600px) {
    .board-item-content {
        text-align: center;
    }
    .board-item-content span {
        display: none;
    }
}