/*Color*/

.yellow{
    color: #eee037!important;
}

.red{
    color: red;
!important;}

.light-green{
    color: #8bc43f!important;
}

.green{
    color: #55a159!important;
}

.turquesa{
    color: #00c19f !important;
}

.dark-turquesa{
    color: #01a2ac!important;
}

.light-blue{
    color: #0d7ddf!important;
}

.blue{
    color: #0f47af!important;
}

.white-text{
    color: #ffffff!important;
}

/*background colors*/

.bg-yellow{
    background-color: #eee037!important;
}

.bg-light-green{
    background-color: #8bc43f!important;
}

.bg-green{
     background-color: #55a159!important;
}

.bg-turquesa{
     background-color: #00c19f !important;
}

.bg-dark-turquesa{
     background-color: #01a2ac!important;
}

.bg-light-blue{
     background-color: #0d7ddf!important;
}

.bg-blue{
     background-color: #0f47af!important;
}

.bg-_dark{
    background-color: #f2f2f2!important;
}